placeholders:
    placeholders:
        oro_reminder_reminder_templates:
            items:
                task_reminder_template: ~

        view_content_data_additional_information:
            items:
                oro_user_tasks: ~

        view_navButtons_before:
            items:
                oro_my_tasks_button: ~

    items:
        task_reminder_template:
            template: OroTaskBundle:Task:reminderTemplate.html.twig

        oro_user_tasks:
            template: OroTaskBundle:Task:userTasks.html.twig
            applicable: '@oro_ui.placeholder.filter->isInstanceOf($entity$, Oro\Bundle\UserBundle\Entity\User)'
            acl: oro_task_view

        oro_assign_task_button:
            template: OroTaskBundle:Task:assignTaskButton.html.twig
            applicable: '@oro_ui.placeholder.filter->isInstanceOf($entity$, Oro\Bundle\UserBundle\Entity\User)'
            acl: oro_task_create

        oro_assign_task_link:
            template: OroTaskBundle:Task:assignTaskLink.html.twig
            applicable: '@oro_ui.placeholder.filter->isInstanceOf($entity$, Oro\Bundle\UserBundle\Entity\User)'
            acl: oro_task_create

        oro_add_task_button:
            template: OroTaskBundle:Task:activityButton.html.twig
            acl: oro_task_create

        oro_add_task_link:
            template: OroTaskBundle:Task:activityLink.html.twig
            acl: oro_task_create

        oro_my_tasks_button:
            template: OroTaskBundle:Task:myTasksButton.html.twig
            applicable: '@oro_task.placeholder.filter->isCalendarTasksVisible($entity$)'
            acl: oro_task_view
