search:
    Oro\Bundle\TaskBundle\Entity\Task:
        alias:                          oro_task
        title_fields:                   [subject]
        route:
            name:                       oro_task_view
            parameters:
                id:                     id
        search_template:                OroTaskBundle:Search:result.html.twig
        fields:
            -
                name:                   subject
                target_type:            text
                target_fields:          [subject]
            -
                name:                   description
                target_type:            text
                target_fields:          [description]
